body{
  background-image:url( "bild.JPEG")  ;
}
.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Optional: Add padding for better visual appearance */
  background-color: #fff; /* Set background color if needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
  background-color: rgb(4, 70, 70);
  
}

.left-button, .right-button {
  
  margin-right: 20px;
  cursor:pointer;
}

.right-button {
  order: 2; /* Adjust the order to move it to the right */
}
.table{
  margin: 20px;
  margin-top: 60px;
  display: grid;
  background-color: rgb(4, 186, 186,0.6);
 
}
td{
  border-style: solid;
  border-color:rgb(7, 33, 24);
  text-align: center;

}
th{
  border-style: solid;
  border-top: 20px,10px,red;
}
.form{
  margin: 20px;
  color: #171616;
  padding: 20px;
  margin-top: 70px;
  display: flex;
  background-color:rgb(4, 186, 186,0.5);
  justify-content: space-between;
}
.form .save {
  margin-right: 50px ;
  
}
label{
  padding-left: 20px;
  padding-right: 20px;
}
input{
  background-color: rgb(247, 247, 243);
}
select{
  background-color: rgb(248, 248, 246);
  width: 150px;
}
.Attention{
  color:white;
  background-color: rgb(4, 186, 186);
  display: inline-grid;
  padding: 2%;
  margin-left: 40%;
  margin-top: 10%;
}
.redButton{
  background-color: red;
}
.greenButton{
  background-color: rgb(3, 182, 68);
}